* {
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
}

body {
    background-color:white;
}
a:hover {
    opacity: 0.7;
}
/* 게임 제목 */
header{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    background-color: #2F8F9D;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
}

div li {
    list-style: none;
}

header h1{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
/* 게임 진행방식 */
.manual {
    border: none;
    padding: 10px;
    background-color: #3BACB6;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.manual h3 {
    font-size: 30px;
}

.manual ol {
    padding-left: 40px;
}

.manual li {
    font-size: 20px;
}

.gameBoard {
    background-color: #82DBD8;
    width: 100%;
    border: none;
    color: white;
}

.gameBoard h1 {
    margin: 0;
    text-align: center;
    width: 100%;
}

.turnManual {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: column;
}

.turnManual div {
    margin-left: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.turnManual form {
    padding: 5px;
    font-size: 20px;
    margin: 0 auto;
}

.firstTeam {
    width: 50%;
    height: 550px;
    float: left;
    box-sizing: border-box;
    background-color: #B3E8E5;
}
.firstTeam ol {
    padding: 20px;
}

.firstTeam li {
    padding: 5px;
    font-size: 20px;
    color:black;
    opacity: 0.7;
}

.secondTeam {
    width: 50%;
    height: 550px;
    float: right;
    box-sizing: border-box;
    background-color: #B3E8E5;
}

.secondTeam ol {
    padding: 20px;
}
.secondTeam li {
    padding: 5px;
    color:black;
    font-size: 20px;
    opacity: 0.7;
}
#inputAnswer {
    border: none;
    width: 200px;
}